.body-singapore-theme {
    background: linear-gradient(135deg, #ed2939 0%, #FFFFFF 30%, #ed2939 60%, #ed2939 90%) !important;
    background-size: 400% 400% !important;
    animation: gradientShift 15s ease infinite !important;
}